<div class="content-container">
    <div class="content-container-header">
        <div class="content-ribbon">
            <span class="content-ribbon-image-text">{{albumName}}</span>
        </div>
        <div class="content-download-links-div">
            <a href="{{albumDLmedium}}" class="album-download"><i class="fa fa-download" aria-hidden="true"></i> medium</a>
            <a href="{{albumDLfull}}" class="album-download"><i class="fa fa-download" aria-hidden="true"></i> full size</a>
            <a href="/index" class="album-download"><i class="fa fa-step-backward" aria-hidden="true"></i> back</a>
        </div>
        <div class="content-list-div">
            <ul class="pictures-list" id="pictures-list">