.page
    .page-header.cf
        nav.navbar
            span.title PicView
            ul.navbar-list
                li.navbar-listitem
                    a.album-download(href='/')
                        i.fa.fa-step-backward(aria-hidden='true')
                        |  back
                li.navbar-listitem
                    a.album-download(href='upload')
                        i.fa.fa-upload(aria-hidden='true')
                        | Upload
                li.navbar-listitem
                    a.album-download(href='signout')
                        i.fa.fa-sign-out(aria-hidden='true')
                        | Sign out