<li class="album-item">
    <div class="album-details" id="album-details">
        <div class="album-image">
            <a href="{{albumLink}}">
                <img class="album-cover" src="{{albumCover}}">
            </a>
            <!--<h3 class="album-date">{{albumDate}}</h3>-->
            <h2 class="album-title">{{albumTitle}}</h2>
        </div>
        <div class="album-download-container">
            <span class="album-download-heading">Download album</span>
            <a href="{{albumDLmedium}}" class="album-download"><i class="fa fa-download" aria-hidden="true"></i> medium</a>
            <a href="{{albumDLfull}}" class="album-download"><i class="fa fa-download" aria-hidden="true"></i> full size</a>
        </div>
    </div>
</li>