<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PicView</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/design.css">
    <link href="../public/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="page">
    <div class="page-header cf">
        <nav class="navbar">
            <span class="title">PicView</span>
            <ul class="navbar-list">
                <li class="navbar-listitem"><a href="index" class="album-download"> <i class="fa fa-step-backward" aria-hidden="true"></i> back</a></li>
                <li class="navbar-listitem"><a href="upload" class="album-download"><i class="fa fa-upload" aria-hidden="true"></i>Upload</a></li>
                <li class="navbar-listitem"><a href="signout" class="album-download"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</a></li>
            </ul>
        </nav>
    </div>