doctype html
html(lang='en')
    include partials/_head
    body
        include partials/_navbar
        block content

    //
        jQuery, Bootstrap core JavaScript
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src='/css/bootstrap/tether.min.js')
    script(src='/css/bootstrap/holder.min.js')
    script.
        $(function () {
            Holder.addTheme("thumb", {background: "#55595c", foreground: "#eceeef", text: "Thumbnail"});
        });
    script(src='/js/lightbox.js')
    script(src='/css/bootstrap/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/css/bootstrap/ie10-viewport-bug-workaround.js')