<div class="upload-container">
    <!--full page bg image-->
    <div class="upload-form-container">
        <a href="/index" class="album-download"><i class="fa fa-step-backward" aria-hidden="true"></i> back</a>


        <form action="/upload" enctype="multipart/form-data" method="post">
        <input type="text" name="albumName" placeholder="Album title"><br>
            <input type="text" name="albumDate" placeholder="Album year"><br>
        <label for="upload">Select files: </label><input type="file" name="upload" id="upload" multiple="multiple"><br>
        <input type="submit" value="Upload">
        </form>
    </div>
</div>