@import "https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700";

body {
    color: #4c5462;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
    color: #b4b3b6;
    padding-top: .3em;
    font-style: normal;
    font-weight: 500;
}

.picture-image {
    display: block;
    margin: 0;
    position: absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.picture-details {
    position: relative;
    width: 280px;
    height: 300px;
    /*background-color: lightgrey;*/
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.picture-details:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.album-title {
    position: absolute;
    margin-left: .7em;
    padding-left: 1em;
    top: 180px;
    left: 0;
    width: 92%;
    background-color: rgb(0,0,0); /*fallback color*/
    background-color: rgba(0,0,0, .4);
    color: #fff;
    text-transform: uppercase;
}

.album-icon {
    display: inline-block;
    padding-left: 1em;
    color: #ffffff;
}