extends layout
block content
    .main.container.row
        .col-md-6.col-md-offset-3
            h1.display-4.m-b-2 Login
            form(method='post', action='#')
                div.form-group
                    label(for='login-form-email') Email
                    input#login-form-email.form-control(type='email', name='login-form-email')
                div.form-group
                    label(for='login-form-pass') Password
                    input#login-form-pass.form-control(type='password', name='login-form-pass')
                button#login-form-submit(type='submit', name='login-form-submit') Sign in