section.jumbotron.text-center
    .container
        h1.jumbotron-heading Upload photos
        p.lead.text-muted Create an album and upload your pictures. Quick and easy.
        button.btn.btn-outline-primary.btn-lg.mx-auto(type='button', data-toggle='modal', data-target='#uploadmodal') Create album
