extends layout
block content
    h1 There was an error.
    h1 #{error.message}
    h2 #{error.text}
    p #{error.stack}
    a(href='/') Try something else here
    p.
        If you are lucky enough to understand Hungarian:
    p.
        Ujj rebben billentyű felett
        Tétován csusszan az egér
        Hibára fut kontent helyett
        Tartalmat hiába remél
        A gép hibázott? Az ember?
        Ön vagy bárki más?
        Linknek bizonyult itt
        E hiperhivatkozás.
        Volt itt valami?
        Semmi sem örök.
        E cím a semmibe mutat
        Ez a link itt eltörött.
        Törött e link, sírni volna jó
        Az oldal nem található.
